# Скомпилированные исполняемые файлы
*.exe
*.out
*.app

# Папки сборки (на будущее, если прикрутим CMake)
build/
bin/
obj/

# Временные файлы редакторов и ОС
.vscode/
.vs/
*.suo
*.user
Thumbs.db
.DS_Store

# Скомпилированные модули Python
*.pyd